.my-footer {
    margin-top: 50px;
    background-image: url('https://i.ibb.co/cbs1ckz/footer-1-041900e5-258e-4ed1-b56f-37bb763eb759.webp');
    background-size: cover;
    background-repeat: no-repeat;
}